
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(30%);
}

.perfil {
    transform: translate(95%);

}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

